<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Shooting Events - Full Response</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{url_for('static', filename='full_response.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

</head>
<body>
  <p> - Close this tab from the browser when you are finished.</p>
  <p> - Showing only the first 6 variables. </p>
  <p> - If you come from the 'view...>>' button and is seeing nothing below, wait a few more seconds.
  <table id='fullResponse'>
    <tr><th>id</th><th>Date</th><th>...</th><th>...</th><th>...</th><th>...</th><th>...</th><th>...</th></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td></tr>
  </table>
</body>
